.add__listing__page {
    margin-top: 8rem;
}

.listing__form {
    margin-top: 8rem;
}

.error__message {
    font-size: x-large;
}

@media (max-width: 1280px) {

    .listing__form {
        margin-top: 8rem;
        margin-left: 15rem;
    }

}