.listings__page {
    position: relative;
    margin-top: 3rem;
    font-size: larger;
}

.listings__page__error main {
    margin-top: 3rem;
    font-size: larger;
}

.listings__header {
    text-align: left;
    margin-top: 8rem;
    color: black;
}

.listings__tip {
    text-align: left;
    padding-bottom: 1rem;
    border-bottom-color: rgb(199, 199, 199);
    border-bottom-width: 4px;
    border-bottom-style: solid;
}

.search__bar {
    width: 65%;
    height: 3rem;
    font-size: x-large;
}

.search__element {
    position: absolute;
}

.status__message {
    font-size: x-large;
}

@media (max-width: 1280px) {
    .listings__header {
        text-align: left;
        margin-top: 8rem;
        margin-left: 15rem;
        color: black;
    }

    .listings__tip {
        margin-left: 15rem;
        text-align: left;
        padding-bottom: 1rem;
        border-bottom-color: rgb(199, 199, 199);
        border-bottom-width: 4px;
        border-bottom-style: solid;
    }

    .search__element {
        position: absolute;
        margin-left: 15rem;
    }
}