.listings__page {
    position: relative;
    margin-top: 3rem;
    font-size: larger;
}

.listings__page__error main {
    margin-top: 3rem;
    font-size: larger;
}

.listings__header {
    text-align: left;
    margin-top: 8rem;
    color: black;
}

.listings__tip {
    text-align: left;
    padding-bottom: 1rem;
}

.search__element {
    display: flex;
    width: 60rem;
    position: absolute;
    border-bottom-color: rgb(199, 199, 199);
    border-bottom-width: 4px;
    border-bottom-style: solid;
    padding-bottom: 1rem;
}

.search__bar {
    width: 20rem;
    height: 3rem;
    font-size: x-large;
}

.status__message {
    transform: translate(32rem, 0);
    text-align: left;
    font-size: x-large;
}

@media (max-width: 1280px) {
    .listings__header {
        font-size: large;
        text-align: left;
        margin-top: 8rem;
        margin-left: 15rem;
        color: black;
    }

    .listings__tip {
        font-size: smaller;
        margin-left: 15rem;
        text-align: left;
        padding-bottom: 1rem;
    }

    .listings__tip__2 {
        font-size: smaller;
        margin-left: 15rem;
        text-align: left;
        padding-bottom: 1rem;
    }

    .search__element {
        margin-left: 15rem;
        border-bottom-color: rgb(199, 199, 199);
        border-bottom-width: 4px;
        border-bottom-style: solid;
        padding-bottom: 4rem;
    }

    .search__bar {
        width: 10rem;
        height: 3rem;
        font-size: x-large;
    }

    .search__buttons {
        transform: translate(-10.5rem, 3.5rem);
    }

    .status__message {
        max-width: 12rem;
        transform: translate(16rem, 8rem);
        text-align: left;
        font-size: medium;
    }
}