.listings__page {
    margin-top: 3rem;
    font-size: larger;
}

.listings__header {
    text-align: left;
    margin-top: 8rem;
    color: black;
}

.listings__tip {
    text-align: left;
    padding-bottom: 1rem;
    border-bottom-color: rgb(199, 199, 199);
    border-bottom-width: 4px;
    border-bottom-style: solid;
}