.listing__content {
    padding: 0;
}

.listing__image {
    position: relative;
}

.listing__image img {
    height: 17rem;
    width: 17rem;
    border-bottom: 1px solid black;
}

.listing__list {
    list-style-type: none;
    margin-right: 1rem;
    min-width: 20%;
    max-height: 28rem;
    margin-bottom: 1rem;
}

.listing__view {
    height: 28rem;
    width: 20rem;
    border: 1px solid black;
    margin-bottom: 1rem;
}

.listing__price {
    position: absolute;
    bottom: 0rem;
    left: 1.5rem;
    text-align: left;
    color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

.listing__info {
    text-align: left;
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 17rem;
}

.listing__info h2 {
    word-wrap: break-word;
}

.listing__buttons {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.listing__modal img {
    max-width: 20rem;
    max-height: 20rem;
    margin-left: 22%;
    margin-top: 2rem;
    border-color: rgb(199, 199, 199);
    border-width: 2px;
    border-style: solid;                          
}

.listing__modal h3 {
    margin-left: 2rem;                            
}

.listing__modal h2 {
    margin-left: 2rem;                            
}

.listing__modal h4 {
    margin-left: 2rem;                            
}

@media (max-width: 1280px) {

    .listing__image {
        transform: translate(0, -1rem);
        width: 10rem;
        height: 8rem;
    }

    .listing__image img {
        max-width: 10rem;
        max-height: 10rem;
    }

    .listing__price {
        transform: translate(-1rem, 2.5rem);
        font-size: medium;
    }

    .listing__info {
        margin-top: 1rem;
        font-size: x-small;
    }

    .listing__modal img {
        max-width: 15rem;
        max-height: 20rem;
        margin-left: 22%;
        margin-top: 1rem;
        border-color: rgb(199, 199, 199);
        border-width: 2px;
        border-style: solid;                          
    }

    .listing__modal h3 {
        margin-left: 2rem;                            
    }

    .listing__modal h2 {
        margin-left: 2rem;
        font-size: medium;                            
    }

    .listing__modal h4 {
        margin-left: 2rem;                            
    }

}

