.my__listing__content {
    margin: auto;
}

.my__listing__image {
    position: relative;
    height: 17rem;
}

.my__listing__image img {
    height: 17rem;
    width: 17rem;
    border-bottom: 1px solid black;
}

.my__listing__list {
    list-style-type: none;
    margin-right: 1rem;
    min-width: 20%;
    max-height: 28rem;
    margin-bottom: 1rem;
}

.my__listing__view {
    height: 28rem;
    width: 20rem;
    border: 1px solid black;
    margin-bottom: 1rem;
}

.my__listing__price {
    text-align: left;
    font-size: xx-large;
    color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    transform: translate(2rem, -5rem);
}

.my__listing__info {
    max-height: 6rem;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my__listing__info__name {
    width: 15rem;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    word-wrap: break-word;
}

@media (max-width: 1280px) {

    .my__listing__view {
        width: 20rem;
        min-height: 14rem;
        border: 1px solid rgb(0, 0, 0);
        margin-bottom: 1rem;
    }

    .my__listing__content {
        margin: auto;
        height: 12rem;
        transform: translate(0, -1rem);
    }

    .my__listing__image {
        transform: translate(-0.15rem);
        width: 12rem;
        height: 9rem;
    }

    .my__listing__image img {
        max-width: 10rem;
        max-height: 9rem;
        transform: translate(0, 0.5rem);
    }

    .my__listing__price {
        text-align: left;
        font-size: larger;
        color: rgb(0, 0, 0);
        -webkit-text-stroke-width: 0.25px;
        -webkit-text-stroke-color: rgb(255, 255, 255);
        transform: translate(1.5rem, -3.5rem);
    }

    .my__listing__info__name {
        margin-top: 1.25rem;
        font-size: small;
    }

    .my__listing__list {
        list-style-type: none;
        height: 20rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        min-width: 20%;
    }

}


