.navigation__main {
    position: relative;
    left: 10rem;
}

.h1 {
    color: white;
}

.navigation__header-nav {
    right: 0;
    position: absolute;
}

.login__status {
    position: absolute;
    color: white;
    font-size: larger;
    margin-left: 24rem;
}

@media (max-width:800px) {
.login__status {
    transform: translate(-24rem, 6rem);
    width: 10rem;
    position: absolute;
    color: black;
    font-size: x-large;
    }

.navigation__title {
    font-size: larger;
}
}
