.nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-links li {
    margin: 2rem;
}

.nav-links a {
    padding: 1rem;
    text-decoration: none;
}