.nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-links li {
    color: white;
    margin: 2rem;
    border: 1px solid black;
    background-color: white;
}

.nav-links button {
    border: 1px solid white;
    color: white;
    background: transparent;
}

.nav-links a {
    border: 1px solid transparent;
    color: #292929;
    text-decoration: none;
    padding: 0.5rem;
}