.authentication {
    margin-top: 8rem;
    align-content: center;
}

.auth__form {
    position: relative;
    margin: auto;
    border: 1px solid black;
    width: 45%;
    height: 28rem;
}

.auth__fields {
    border-bottom: 2px solid black;
    margin: auto;
    margin-top: 2rem;
    text-align: right;
    font-size: larger;
    max-width: 18rem;
    height: 17rem;
}

.auth__buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 34%;
    width: 12rem;
}
