.authentication {
    margin-top: 8rem;
    align-content: center;
}

.auth__form {
    margin: auto;
    border: 1px solid black;
    width: 45%;
    height: 28rem;
}

.auth__fields {
    border-bottom: 2px solid black;
    margin: auto;
    margin-top: 2rem;
    text-align: right;
    font-size: larger;
    max-width: 18rem;
    height: 20rem;
}

.auth__buttons {
    display: flex;
    flex-direction: column;
    width: 9rem;
    margin: auto;
}

.auth__switch {
    margin-top: 1rem;
}

@media (max-width: 1280px) {
    .auth__form {
        margin: auto;
        margin-left: 15rem;
        border: 1px solid black;
        width: 45%;
        height: 28rem;
    }

    .auth__header {
        text-align: left;
        margin-left: 15rem;
    }
}

