.listing__view {
    position: relative;
    margin: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    padding-top: 1rem;
    overflow: hidden;
    background: #ffffff;
  }

@media (max-width: 1280px) {

  .listing__view {
      list-style-type: none;
      margin-right: 1rem;
      max-width: 12rem;
      max-height: 14rem;
      margin-bottom: 1rem;
  }

}