.modal {
    z-index: 100;
    position: fixed;
    top: 22vh;
    left: 10%;
    width: 80%;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 8px;
  }
  
  .modal__header {
    position: relative;
    display: flex;
    width: 100%;
    padding: 1rem 0.5rem;
    background: black;
    color: white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  
  .modal__header h2 {
    margin: 0.5rem;
  }
  
  .modal__content {
    padding: 1rem 0.5rem;
  }

  .modal__header button {
    position: absolute;
    color: white;
    width: 3rem;
    height: 3rem;
    font-size: x-large;
    background-color: rgba(0, 0, 0, 0.795);
    border: 1px solid white;
    margin-left: 88%;
    border-radius: 5px;
  }
  
  .modal__footer {
    padding: 1rem 0.5rem;
  }
  
  @media (min-width: 768px) {
    .modal {
      left: calc(50% - 20rem);
      width: 40rem;
    }
  }
  
  .modal-enter {
    transform: translateY(-10rem);
    opacity: 0;
  }
  
  .modal-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: all 200ms;
  }
  
  .modal-exit {
    transform: translateY(0);
    opacity: 1;
  }
  
  .modal-exit-active {
    transform: translateY(-10rem);
    opacity: 0;
    transition: all 200ms;
  }

  .modal__close {
    right: 0.5rem;
    top: 0.75rem;
}
